
.title{height:150px;background:#f7f7f7;border-radius:4px;margin-bottom:25px;color:#6b15a1;}
.list-group-item{cursor:pointer}
.list-group-item:hover{background:#f9f9f9}
.w200{width:200px}
.w300{width:300px}
.w400{width:400px}
.btn-primary{background:#6b15a1;border:1px solid #6b15a1}
.panel-primary .panel-heading{background:#6b15a1;}
.panel-primary {border:1px solid #6b15a1}
.btn-primary:hover{background:#f7f7f7;color:#6b15a1;border:1px solid #6b15a1}
.bg-primary{background:#6b15a1;}
.active{background:#f9f9f9 !important;border:none; }
.list-group-item.active{color:#6b15a1;font-weight: bold}
.list-group-item.active:hover{color:#6b15a1;font-weight: bold}
.notice{display:inline-block;color:#6b15a1}

